
.paragraph-gallery {
  &__content {
    &--field-images {

    }
    &--field-images-item {
      margin-bottom: 20px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media(max-width:767px){
  .paragraph-gallery {
    &__content {
      &--field-images-item {
        margin-bottom: 15px;
      }
    }
  }
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
