
.node-posted__paragraphs {
  .field-rubrika {
    margin-bottom: 15px;
  }
  .field-posada {
    margin-bottom: 15px;
  }
  .field-viddil {
    margin-bottom: 15px;
  }
}

.paragraph {
  margin-bottom: 25px;
}

@media(max-width:767px){
  .node-posted__paragraphs {
    .field-rubrika {
      margin-bottom: 10px;
    }
    .field-posada {
      margin-bottom: 10x;
    }
    .field-viddil {
      margin-bottom: 10px;
    }
  }
  .paragraph {
    margin-bottom: 15px;
  }
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}


@import "paragraph-image_and_text";
@import "paragraph--image";
@import "paragraph--gallery";