{% extends "views-view-unformatted.html.twig" %}

{% block rows_in_view %}
    {% for row in rows %}
        {%
            set row_classes = [
            default_row_class ? 'col-xs-24 col-md-8 col-vsi-novini views-row ',
        ]
        %}
        <div{{ row.attributes.addClass(row_classes) }}>
            {{- row.content -}}
        </div>
    {% endfor %}
{% endblock %}