a {
  text-decoration: underline; }

.block-first-theme-branding {
  padding: 10px 0 0; }

.search-block-form {
  padding: 10px 0; }

.left-sidebar nav ul {
  background-color: #e0eaef; }

.dropdown-submenu {
  position: relative; }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 6px;
    padding: 0;
    background-color: #c1d4df; }
    .dropdown-submenu > .dropdown-menu > li {
      border-radius: 6px; }
      .dropdown-submenu > .dropdown-menu > li > a {
        padding: 10px 15px; }
        .dropdown-submenu > .dropdown-menu > li > a:hover {
          border-radius: 6px; }
  .dropdown-submenu:hover > .dropdown-menu {
    display: block; }
    .dropdown-submenu:hover > .dropdown-menu > a:after {
      border-left-color: #fff; }
  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px; }
  .dropdown-submenu .pull-left {
    float: none; }
    .dropdown-submenu .pull-left > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      border-radius: 6px; }

.nav > li > a {
  padding: 10px 15px 10px 20px; }
  .nav > li > a:before {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #23527c;
    margin-top: 5px;
    margin-left: -10px; }

.nav > li.active > a:before {
  border-left-color: #fff; }

.nav > li:hover {
  background-color: #eeeeee;
  border-radius: 4px; }

.nav-stacked > li + li.dropdown-submenu-mobile {
  margin-left: 25px; }

.row_frontpage {
  margin-bottom: 20px; }
  .row_frontpage .views-field-field-image img {
    height: auto;
    width: 100%; }
  .row_frontpage .views-field-title {
    margin-top: 6.66667px;
    margin-bottom: 10px; }
    .row_frontpage .views-field-title a {
      font-size: 24px;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1; }
  .row_frontpage .views-field-body p {
    position: relative;
    line-height: 20px; }

.fa {
  padding: 10px;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-right: 15px; }
  .fa:hover {
    opacity: 0.7;
    text-decoration: none; }

.fa-facebook {
  background: #3b5998;
  color: white; }

.fa-twitter {
  background: #55acee;
  color: white; }

.fa-youtube {
  background: #bb0000;
  color: white; }

.fa-instagram {
  background: #125688;
  color: white; }

.fa-rss {
  background: #ff6600;
  color: white; }

@media (max-width: 767px) {
  .row_frontpage .views-field-field-image {
    text-align: center; }
    .row_frontpage .views-field-field-image img {
      height: auto;
      width: 90%; }
  .views-field-title {
    margin-top: 10px; }
    .views-field-title a {
      font-size: 18px; }
  .views-field-body {
    max-height: 45px;
    overflow: hidden; }
    .views-field-body p::after {
      content: '';
      position: absolute;
      right: 0;
      top: 20px;
      width: 80px;
      height: 20px;
      background: linear-gradient(to right, rgba(225, 244, 255, 0.1), #c1d4df 100%); }
  .footer_left {
    padding-bottom: 15px; }
  .footer_center {
    padding-bottom: 15px;
    text-align: center; }
  .footer_right {
    text-align: center; }
  .fa {
    padding: 10px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    margin-right: 10px; } }

/*# sourceMappingURL=maps/styles.css.map */
